*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

.page-container{
    width: 100vw;
    height: 100vh;
    background: #eff0f2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.shadow{
    -webkit-box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
    -moz-box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
    box-shadow: 27px 43px 43px -26px rgba(89,89,89,0.39);
}

.login-form-container{
    background:#f5f5f5 ;
    width:860px;
    height: 540px;
    display: flex;
    flex-direction: row;
    box-shadow: 10px black;
    border-radius: 10px;
}

.login-form-center{
    width: 50%; 
    border-radius: 10px 0px 0px 10px;
    padding:75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.login-image{
    width: 100%;
    height: 100%;
    margin-top: 40px;
    background-image: url("../images/main.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.login-form-right-side{
    width: 50%;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:40px;
    background: rgb(255,255,255);
}

.login-input-container{
    width:300px;
}

.login-input-wrap{
    width: 100%;
    height: 45px;
    margin-top: 20px;
    border-radius: 2px;
    border-bottom: solid 2px rgb(55, 55, 100);
   
}

.login-input-wrap i{
    color: rgb(55, 55, 100);
    line-height: 45px;
}

.login-input-wrap input{
    background: none; 
    border: none;
    line-height: 45px;
    padding-left:10px;
    width:267px;
}

.login-input-wrap input:focus{
    outline: none;
}

.login-btn-wrap{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.login-btn{
    cursor: pointer;
    width:95px;
    height:35px;
    color:white;
    border: 0;
    border-radius: 4px;
    background: rgb(55, 55, 200);
}
